<div class="categories">
    <div class="categories-content">
        <div id="categories-button">
            <button id="section-button" class="{{classDescription}}" onclick="{{URL}}">{{Category}}</button>
        </div>

    </div>
</div>
