<div id="block-footersocial" data-block-plugin-id="block_content:f95da6a8-fbcb-4577-acd1-1523cf40dd99">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div><div class="socialblock">

<a class="icon" href="https://www.facebook.com/osubeavers"><span class="sr-only">OSU's Facebook</span><i class="fa fa-facebook" ></i></a>

<a class="icon" href="https://twitter.com/oregonstate"><span class="sr-only">OSU's Twitter</span><i class="fa fa-twitter" ></i></a>

<a class="icon" href="https://www.youtube.com/user/OregonStateUniv"><span class="sr-only">OSU's Youtube</span><i class="fa fa-youtube" ></i></a>

<a class="icon" href="https://instagram.com/oregonstate"><span class="sr-only">OSU's Instagram</span><i class="fa fa-instagram" ></i></a>

</div>
</div>

</div>
</div>
