<div class="container">
<header>
    <div class="primary_header">
      <h1 class="title"> Beaver Guide</h1>
    </div>
  <nav class="secondary_header" id="menu">
    <ul>
      <li button onclick="window.location.href = '/';">Home</li>
      <li button onclick="window.location.href = '/photos';">Photos</li>
      <li button onclick="window.location.href = '/category';">Categories</li>
      <li button onclick="window.location.href = '/suggestion';">Suggestions</li>
      <li button onclick="window.location.href = '/report';">Report</li>
      <li button onclick="window.location.href = '/help';">Help</li>
        <li button onclick="window.location.href = '/about';">About</li>
    </ul>
  </nav>
  </header>
