<section id="categories">

    <div class="categories">
        <div class="categories-content">
            <div id="categories-button">
                <button id="section-button" class="classes-button" onclick="window.location.href = '/category/classes';">Classes</button>
            </div>
        </div>
    </div>


    <div class="categories">
        <div class="categories-content">
            <div id="categories-button">
                <button id="section-button" class="registration-button" onclick="window.location.href = '/category/registration';">Registration</button>
            </div>
        </div>
    </div>


    <div class="categories">
        <div class="categories-content">
            <div id="categories-button">
                <button id="section-button" class="events-button" onclick="window.location.href = '/category/events';">Events</button>
            </div>
        </div>
    </div>


    <div class="categories">
        <div class="categories-content">
            <div id="categories-button">
                <button id="section-button" class="techGuide-button" onclick="window.location.href = '/category/techguide';">Tech Guides</button>
            </div>
        </div>
    </div>


    <div class="categories">
        <div class="categories-content">
            <div id="categories-button">
                <button id="section-button" class="vs-button" onclick="window.location.href = '/category/osuvs';">OSU VS</button>
            </div>
        </div>
    </div>


    <div class="categories">
        <div class="categories-content">
            <div id="categories-button">
                <button id="section-button" class="generalGuide-button" onclick="window.location.href = '/category/generalguide';">General Guides</button>
            </div>
        </div>
    </div>


</section>
