<section id="categories">
    <div class="categories">
        <div class="categories-content">
            <div id="categories-button">
                <img class="construction" src="underConstruction.gif">

            </div>
        </div>
    </div>


</section>
