<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="slideShow.css">
<script src="slideShow.js" charset="utf-8" defer></script>


<div class="slideShow" >
<div class="slide-content" >
  <div id="picture-button">
    <img class="mySlides" src="images/welcome-to-osu.jpg" alt="welcome-osu" >
    <button class="info">
      <h1>Welcome To OSU</h1>
      <p>checkout our map and More...
    </button>
  </div>

  <div id="picture-button">
    <img class="mySlides" src="images/osu-game.jpg" alt="game-time" >
    <button class="info" >
      <h1>Beaver Games</h1>
      <p>Checkout our Game schedules and More..
    </button>
  </div>

  <div id="picture-button">
    <img class="mySlides" src="images/osu-boyz.jpg" alt="osu-boyz" >
    <button class="info" >
      <h1>Celebration</h1>
      <p>Checkout this Week's Game news and More..
    </button>
  </div>

  <div id="picture-button"></div>
    <img class="mySlides" src="images/osu-grad.jpg" alt="graduation" >
    <button class="info" >
        <h1>Road To success</h1>
        <p>checkout our graduation news and More..
    </button>
  </div>
</div>

<div id="block-footersocial" data-block-plugin-id="block_content:f95da6a8-fbcb-4577-acd1-1523cf40dd99">
  

</div>
