<section id="divider">

  <h1>Registration</h1>

    <div class="posts">

        <h1>Eligibility</h1>
        <p>
            Click
            <a href="https://registrar.oregonstate.edu/eligibility-register"><span>Here</span><i style="font-size:25px;"></i></a>
            to learn more about requirements and procedures to establish eligibility.
        </p>

    </div>

    <!--=======================================================-->

    <div class="posts">
        <h1>PIN Number</h1>
        <p>

            Registration is completed through
            <a href="https://myosu.oregonstate.edu/"><span>MyOSU</span><i style="font-size:25px;"></i></a>
            login using your ONID name and password.
            Students seeking a baccalaureate degree are required to enter a
            <a href="https://registrar.oregonstate.edu/pin-numbers"><span>PIN number</span><i style="font-size:25px;"></i></a>
            , provided by their academic advisor,
            when first entering the registration system for a term.
        </p>

    </div>

    <!--=======================================================-->

    <div class="posts">
        <h1>MyOSU</h1>
        <p>

            Once you have all your materials prepared for registration you may login to
            <a href="https://myosu.oregonstate.edu/"><span>MyOSU</span><i style="font-size:25px;"></i></a>
            and register for courses.

        </p>

    </div>

</section>
