<link rel="stylesheet" href="Suggestions.css">
<link rel="stylesheet" href="report.css">
<script src="suggestions.js" charset="utf-8" defer></script>
<section id="problem">
  <section class="break">
    <aside class="side">
      <div class="report-problem">
        <h1 class="report-title"> Make a Suggestion</h1>
      <div class="report-title-box">Subject</div>
            <input type="text" id="sub-box" placeholder="Subject" name="problem-title">
      <div class="report-description-box">Description</div>
        <form >
          <textarea id="des-box" placeholder="Description of issue..."></textarea>
        </form>
      <div class="submit">
        <input type="button" id="myButton" class="submit-button" value="Submit"></input>
      </div>
    </div>
  </aside>
  </section>

  <section id="all-posts">

    <div class="post" title="Make the files cleaner" description="There is no javascript anywhere in this site.There is no javascript anywhere in this site.There is no javascript anywhere in this site.There is no javascript anywhere in this site.There is no javascript anywhere in this site.">
      <div class="actual-post">
        <div class="post-title-a">
          <span class="post-title">Make the files cleaner</span>
        </div>
        <div class="post-description-a">
          <span class="post-description">There is no javascript anywhere in this site.There is no javascript anywhere in this site.There is no javascript anywhere in this site.There is no javascript anywhere in this site.There is no javascript anywhere in this site.</span>
        </div>
      </div>

    </div>

  </section>

  </section>
