<section id="divider">

  <h1>Tech Guides</h1>


    <div class="posts">

        <h1>Getting Help</h1>
        <p>
            visit
            <a href="https://is.oregonstate.edu/"><span>Here</span><i style="font-size:25px;"></i></a>
            to get help from Oregon State's IT support.
        </p>
        <br>

        Contact the IS Service Desk
        <ul>

            <li>Phone: 541-737-8787</li>

            <br>

            <li>Location: Milne Computer Center room 201</li>
    </div>

    <!--=======================================================-->

    <div class="posts">
        <h1>Connect to WI-FI</h1>
        <p>
          Connection name: eduroam
          <br>
            UserName: ONIDusername@oregonstate.edu
            <br>
            Password: ONIDpassword

        </p>

    </div>

    <!--=======================================================-->

    <div class="posts">
        <h1>Canvas orientation (first year only)</h1>
        <p>

            Go To
            <a href="https://main.oregonstate.edu/"><span>Here</span><i style="font-size:25px;"></i></a>
            <ul>

                <li>Click "canvas"</li>

                <br>

                <li>Log-in using ONID username and password</li>

                <br>

                <li>Confirm enrollment</li>

                <br>

                <li>If not enrolled or need help, connect with your advisor</li>

</p>

    </div>

</section>
