#problem {
display: flex;
}

.side {
  display: inline-block;
  display: inline-block;
  min-width: 350px;
  max-width: 350px;
  border-radius: 3px;
}

.report-title {
  text-align: center;
}

.report-problem {
  display: inline-block;
  text-align: center;
  border: 5px solid white;

  width: 300px;
  height: 375px;
  background-color: black;
  color: white;

  margin: 20px;
  margin-bottom: 0px;

border-radius: 10%;
}


.report-title-box {
  margin: 10px;
}

.report-description-box {
  margin: 10px;
}

#des-box {
  height: 100px;
  box-sizing: border-box;
  width: 70%;
}

.break {
  display: inline-block;
  width: 350px;
}

.submit-button {
  border-radius: 4px;
  font-family: "Source Sans Pro";
  background-color: rgb(215,63,9);
  border: none;
  color: #fff;
  text-align: center;
  font-size: 150%;
  padding: 16px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;

}

.submit-button small {
    font-size: 60%;
}

.submit-button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

 .submit-button:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: .4s;
}

 .submit-button:hover{
  padding-right: 24px;
  padding-left:8px;
}

.submit-button:hover:after {
  opacity: 1;
  right: 10px;
}


/* scroll */
.whole-scroll {
  display: inline-block;
  border: 5px solid white;

  max-height: auto;
  min-width: 300px;
  max-width: 230px;

  background-color: black;
  color: white;

  margin:20px;

border-radius: 8px;
}

.scroll {
  display: flex;
  text-align: center;
}

.option-bar-button {
  text-align: center;
}

.scroll-title {
  padding: 10px;
}

#all-problems {
  margin:10px;
  width: 90px;;
}

.option-bar {
  width: 100%;
}

.bar-button {
  width: 175px;
  height: 30px;
  background-color: rgb(215,63,9);
  cursor: pointer;
  border-radius: 4px;
  border: 0px solid white;

  margin: 10px;

  font-family: "Source Sans Pro";
  font-size: 125%;

  color: white;
}

/* all problems */

.post {
  display: inline-block;
  text-align: center;
  border: 5px solid white;

  max-width: 250px;
  min-width: 175px;

  background-color: black;
  color: white;

  margin: 20px;

border-radius: 10%;
}

.post-title {
  font-family: "Source Sans Pro";
  color: rgb(215,63,9);
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.post-description {
  margin: 10px;
}

#resolvebutton {
  margin:10px;
  margin-bottom: 20px;

}
