@charset "UTF-8";

.container {
	background-color: rgb(215,63,9);
	width: auto;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.primary_header {
	width: 100%;
	color: white;
  	text-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px orange;
	padding-top: 10px;
	padding-bottom: 10px;
  	text-align: center;
	border-bottom: 2px solid black;
}
.secondary_header {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 42px;
	background-color: black;
	clear: left;
}
.container .secondary_header ul {
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li {
	position: relative;
	list-style: none;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	bottom: 5px;
	font-family: "Source Sans Pro";
  	font-size: 150%;
	font-weight: normal;
	color: #FFFFFF;
	text-align: center;
	width: 13%;
	transition: all 0.3s linear;
}

.secondary_header ul li {
	font-family: 'Lobster', cursive;
	background-color: black; 
	color: rgb(255, 251, 251); 
	border: 3px solid rgb(215,63,9);
  }
  
  .secondary_header ul li:hover {
	background-color: rgb(215,63,9);
	box-shadow: 0 12px 16px 0 rgb(165, 48, 6), 0 17px 50px 0 rgb(165, 48, 6);
	color: white;
  }
  
/* Style the search box inside the navigation bar */
header input[type=text] {
	
	position: relative;
	top: -4px;
    padding: 6px;
  	margin-top: 8px;
  	font-size: 17px;
  }
 header input[type=text] {
    border: 3px solid rgb(0, 0, 0);
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  header button {
	/*float: right;*/
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #d7d7d7;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
header button:hover {
  background: #ccc;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
  header .search-container{
	position: relative;
	float: right;
	bottom: 120px;
  }

  
header button {
	position: relative;
	top: -4px;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
header button:hover {
	background: #ccc;
  }
  
  .fa-search:before {
    content: "\f002";
}

#Photo-Book{
	position: relative;
	left: 35%;
	bottom: 49px;
    width: 500px;
    background-color: black;

}

h1.book-lable{
	text-align: center;
	color: white;
  	text-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px orange;
	font-family: 'Lobster', cursive;
	border-style: outset;
	border-color: black;
	border-width: 3px;
}



.filter-input-container{
	position: relative;
    top: 70px;
    left: 498px;
    width: 34.7%;
    background: black;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px orange;
    font-family: 'Lobster', cursive;
    border-style: outset;
    border-color: black;
}






.row {
	position: relative;
    left: 5px;
    top: -5px;
    display: flex;
    width: 98%;
    border-style: outset;
    border-color: black;
    border-width: 9px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	height: 170px;
  }
 
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }


  

/* Container needed to position the overlay. Adjust the width as needed */
.container-b {
  position: relative;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
	position: absolute;
  	bottom: 0;
  	background: rgb(0, 0, 0);
  	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: white;
  	text-shadow: 1px 1px 2px black, 0 0 25px orange, 0 0 5px orange;
  	width: 100%;
  	transition: .5s ease;
  	opacity:0;
  	color: white;
  	font-size: 20px;
  	text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container-b:hover .overlay {
  opacity: 1;
}



/* Style the Image Used to Trigger the Modal */
.image {
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .image-1:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
	.modal-content {
	  width: 100%;
	}
  }

/* for 404 */
.error {
  text-align: center;
    font-size: 30px;
}
